# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data
numpy
pandas
json

# tests/linter
black
coverage
flake8
pytest
yapf

# API
s3fs
fastapi
uvicorn

# utilities
six>=1.14

# web scraping
selenium
bs4
unidecode

